<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>          
	  <a class="navbar-brand" id="navbarpadleft"><img src="{{=URL('static','img/GimmeAMonth_sm.png')}}"/> </a>
	  
	</div>
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-center" id="navbarsmpadleft" style="margin-top:10px">
				<li class="active"><a href="index.html">HOME</a></li>
				<li><a href="coaching.html">COACHING</a></li>
				<li><a href="services.html">I'M READY TO START!</a></li>
				<li><a href="testimonials.html">I'M READY TO START!</a></li>
				<li><a href="shop.html">SHOP</a></li>
				<li><a href="contact1.html" target="_blank">CONTACT</a></li>
				<li><a href="https://www.facebook.com/groups/599850760156988/610395205769210/?notif_t=like" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
			</ul>
			<img src="{{=URL('static','img/GimmeAMonth_sm.png')}}" style="margin-top:15px"/>
		</div><!--/.nav-collapse -->	         
	</div>       
  </div>
</div>