{{extend 'layout.html'}}
{{include 'default/menu.html'}}
<div class="container">

    {{if cards:}}
        {{include 'default/cards.tpl.html'}}
    {{pass}}

    <div class="row">
        <div class="box">
            <div class="col-sm-12">
                <hr>
                <h2 class="intro-text text-center">Support
                    <strong>Our Partners</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-12 text-center" style="margin-bottom:15px">                
                <a href="http://click.icptrack.com/icp/relay.php?r=1053606064&amp;msgid=6380194&amp;act=L1H3&amp;c=36134&amp;destination=https%3A%2F%2Fsecureregistrationonline.com%2Fnew_nin%2Fsignup.php%3FaffiliateId%3D1620" target="_blank"><img class="CToWUd" alt="Naughty in N'awlins" src="https://ci5.googleusercontent.com/proxy/B2xIgNgEhxtBsaHYkOui6Fv3dpEkAP9JyOE11_RkhlKsnhb8ZjiWuhnxpwBKE1hBDZPOeAwuOeeO5I1csn7xTvcUIEwAEdVWRL9TuKvjA_I=s0-d-e1-ft#https://secureregistrationonline.com/images/nin_576x80.jpg" border="0"></a>
            </div>
            <div class="col-sm-12 text-center" style="margin-bottom:15px">                
                <a href="http://www.quiver.us" target="_new"> 
                    <img src="{{=URL('static', 'images/quiver.jpg')}}" style="width:50%">
                </a>
            </div>
            <div class="col-sm-12 text-center" style="margin-bottom:15px">                
                <a href="http://www.sdc.com/index.aspx?ref=23036" target="_new"> 
                    <img src="http://www.clubscash.com/images/banners/sdc-redvelvet.gif" border="0" style="width:50%">
                </a>
            </div>
            <!-- <div class="col-sm-12 text-center" style="margin-bottom:15px">                
                <a href="http://www.sdc.com/swingers-travel/swingers-travel.aspx?ref=23036" target="_new"> 
                    <img src="http://www.clubscash.com/images/banners/sdc-redvelvet.gif" border="0" style="width:50%">
                </a>
            </div> -->
            <div class="col-sm-4 text-center">                
                <a href="http://www.couplestouch.com/login.aspx?referrer=146353" target="_new"> 
                <img src="http://www.couplestouch.com/images/banners/ct_banner_10_300x250.jpg"></a>                                
            </div>
            <div class="col-sm-4 text-center">
                <a href="http://www.kasidie.com/?referredby=PlayersATX" target="_new"><img border="0" alt="Travel Events, Resort Takeovers &amp; More! Visit Swinger's Travel at Kasidie.com." src="http://www.kasidie.com/static/graphics/ads/ad-250x250_4.jpg" width="300" height="250"></a>                                    
            </div>
            <div class="col-sm-4 text-center">
                <a href="http://www.dreampleasuretours.com/affiliate/idevaffiliate.php?id=189_0_1_5" target="_new">
                <img border="0" alt="" src="http://www.dreampleasuretours.com/affiliate/banners/DPT_400x193_v1.gif" width="300" height="250">                   
            </div>
            <div class="col-sm-4 text-center">
                <p></p>
                <a href="http://www.swinglifestyle.com" target="_new"><img src="http://www.swinglifestyle.com/login/sls_bannera_animated5.gif" alt="Swingers" border="0" width="300" height="250"></a>
            </div>
            <div class="col-sm-4 text-center">
                <p></p>
                <a href="http://calientevacations.com/_lp/nudeClickThru.asp?aff=" target="_new">
                <img src="http://eroticresorts.net/lifestyle/banners/200x200nude.gif" width="300" height="250" style="border: 2px #000000 solid;"/></a>
            </div>
            <div class="col-sm-4 text-center">
                <p></p>
                <a href="http://openlove101.com/" target="_new">
                <img src="{{=URL('static', 'images/Openlove101.Banner.Threesome.300x250.jpg')}}" width="300" height="250" style="border: 2px #000000 solid;"/></a>
            </div>            
           <!--  <div class="col-sm-4 text-center">
                <p></p>
                <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/austin/auses/hoteldetail" target="_new">
                <img src="http://www.ihg.com/hotelmedia/repository/hotelimages/AUSES/WELCM_EXTR_1_C.jpg" width="300" height="250" style="border: 2px #000000 solid;"/></a>
            </div>   -->             
        </div>
    </div>

</div>
<!-- /.container -->