{{extend 'layout.html'}}<div class="brand">{{=XML(thisPage["heading"])}}</div>
<div class="address-bar">13800 Dragline Dr. | Austin, Texas 78728 | (512) 670-2051</div>
{{include 'default/menu.html'}}

<div class="container">

    <div class="row">
        <hr>
        <h2 class="intro-text text-center">Location
        </h2>
        <hr>
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3440.1594505901467!2d-97.68327850000004!3d30.431581499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644ce8ef318ad17%3A0xf40644a814a69ff7!2s13800+Dragline+Dr%2C+Austin%2C+TX+78728!5e0!3m2!1sen!2sus!4v1413323540878" width="100%" height="450" frameborder="0" style="border:0"></iframe>
        </div>                
        <div class="col-md-4">
                <p>Phone:
                    <strong>(512) 670-2051</strong>
                </p>
                <p>Address:
                    <strong>13800 Dragline Dr.
                        <br> Austin, Texas 78728
                    </strong>
                </p>
        </div>
        <div class="col-md-1">
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Contact
                    <strong>form</strong>
                </h2>
                <hr>
                {{if emailSuccess:}}
                    <div class="alert alert-success">
                        <p>Thank you for contacting us. We will review your message as soon as we can.</p>
                    </div>
                {{pass}}

                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            {{=form.custom.begin}}
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Name</label>
                                        <input id="no_table_name" name="name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Email Address</label>
                                        <input id="no_table_email" name="email" type="email" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Phone Number</label>
                                        <input id="no_table_Phone_Number" name="Phone_Number" type="tel" class="form-control">
                                    </div>                            
                                    <div class="form-group col-md-12">
                                        <label>Message</label>
                                        <textarea id="no_table_message" name="message" class="form-control" rows="6"></textarea>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="submit" class="btn btn-default" value="Submit">
                                    </div>
                                </div>
                            {{=form.custom.end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>