{{extend 'layout.html'}}
{{include 'default/menu.html'}}

<div class="container">
	<div class="row">
		{{if request.user_agent()['is_mobile']:}}
			<br><br><br>
		{{pass}}
		<div class="box">
			<div class="col-lg-12">
				{{if showbuttons:}}
					<div class="btn-group btn-group-justified">
						<a href="{{=URL('default', 'events')}}" class="btn {{='btn-danger active' if not request.vars.event_type else 'btn-default'}}" role="button">Upcoming Events</a>
						<a href="{{=URL('default', 'events', vars=dict(event_type='always'))}}" class="btn {{='btn-danger active' if request.vars.event_type == 'always' else 'btn-default'}}" role="button">Recurring Events</a>
					</div>
				{{pass}}
				<hr>
				<h2 class="intro-text text-center">{{='Recurring' if request.vars.event_type == 'always' else 'Upcoming'}}
					<strong>Events</strong>
				</h2>
				<hr>
			</div>
			{{if events:}}
				{{for event in events:}}
					<div class="col-lg-12 text-center">
						{{if event["image"]:}}
							<img src="{{=URL('default', 'download', args=event['image'])}}" alt="" style="width:100%;">
						{{pass}}
						<h2 class="intro-text text-center">
							{{=XML(event["event_heading"])}}
						</h2>
						{{if event["eventDate"]:}}
							<h3>{{=event["eventDate"].strftime("%a, %b %d %Y")}}</h3>
						{{pass}}
						<hr>
						{{=XML(event["body_text"])}}
						<hr>
					</div>
				{{pass}}
			{{pass}}
		</div>
	</div>

</div>