{{extend 'layoutAngular.html'}}
{{include 'default/menu.html'}}

<div class="container">
	<div class="row">
		{{if request.user_agent()['is_mobile']:}}
			<br><br><br>
		{{pass}}
		<div class="box clearfix">
			<div class="col-xs-4">
                <div make-it-square="image" class="iframe" style="overflow:hidden">
                    <img ng-src="{!imageUrl(event.image)!}">
                    <!-- <div class="iframe-details" style="color: white;overflow:hidden">
                        <span style="font-size:0.9em" ng-if="image.image_name">{!image.image_name!}<br></span>
                        <span style="font-size:0.75em">created {!image.modified | date:'MM/dd/yyyy'!}</span>
                    </div> -->
                </div>
            </div>
			<div class="col-xs-8">
				<h2 ng-if="event.event_name">{!event.event_name!}</h2>
				<h3 ng-if="event.event_heading">{!event.event_heading!}</h3>
				<div ng-bind-html="safeText(event.body_text)"></div>
				<p>You may purchase this event on-line</p>
				<strong>Pick an item below and hit checkout</strong>
				<ul>
					<li ng-repeat="price in event.prices | orderBy : 'price' : true" ng-if="event.prices && price.inUse" ng-click="checkSelectedPrice(price)" style="margin-bottom:5px;padding:10px;list-style:none" ng-class="{'pink-purchase-gradient-off':!price.selectedPrice, 'pink-purchase-gradient-on':price.selectedPrice}">
						<button class="btn btn-sm btn-default pull-right" ng-if="price.selectedPrice" style="margin-top:-5px" ng-click="checkout('initial', price);$event.stopPropagation();"><i class="fa fa-shopping-cart"></i> Purchase</button>
						<span>
							<i class="fa fa-check-square-o" ng-if="price.selectedPrice"></i>
							<i class="fa fa-square-o" ng-if="!price.selectedPrice" style="margin-right:5px"></i><b>${!price.price!}</b> - {!price.label!}
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>`
</div>