{{extend 'layout.html'}}
{{hasCarousel = True}}
{{include 'default/menu.html'}}
<div class="container" id="container2">

	<div class="row">
		{{if request.user_agent()['is_mobile']:}}
			<br><br><br>
		{{pass}}
		<div class="box">
			<div class="col-lg-12 text-center">
				{{if events:}}
					<div id="players-carousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators hidden-xs">
							{{eventIndex = 0}}
							{{for event in events:}}
								{{if event['image']:}}
									<li data-target="#players-carousel" data-slide-to="{{=eventIndex}}" class="{{='active' if eventIndex == 0 else ''}}"></li>
								{{pass}}
								{{eventIndex = eventIndex + 1}}
							{{pass}}
						</ol>

						<!-- Wrapper for slides -->
						<div style="background:black" class="carousel-inner" role="listbox">
							{{eventIndex = 0}}
							{{for event in events:}}
								{{if event['image']:}}
									<div class="item{{=' active' if eventIndex == 0 else ''}}" style="background-color:black; background:url('{{=URL('default', 'download', 	args=event['image'])}}') center no-repeat; background-size: contain">
										<!-- <img class="img-responsive img-full" src="{{=URL('default', 'download', 	args=event['image'])}}" alt=""> -->
										<img class="img-responsive img-full" src="{{=URL('static','images/playerspacer.png')}}" alt="">  
										{{if event["layout"] >= 2:}}
											<div class="container">
												<div class="carousel-caption" style="background-color:rgba(255, 0, 0, 0.5)">
													{{if event["layout"] == 2 or event["layout"] == 4:}}
														<h1>{{=XML(event["event_name"])}}</h1>
													{{else:}}
														<h1>{{=XML(event["event_heading"])}}</h1>
													{{pass}}
													{{if event["layout"] == 4:}}
														<strong>{{=XML(event["event_heading"])}}</strong>
													{{pass}}
													{{if event["eventDate"]:}}
														<h2>{{=event["eventDate"]}}</h2>
													{{pass}}
												</div>
											</div>
										{{pass}}
									</div>
								{{pass}}
								{{eventIndex = eventIndex + 1}}
							{{pass}}
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#players-carousel" data-slide="prev">
							<span class="icon-prev"></span>
						</a>
						<a class="right carousel-control" href="#players-carousel" data-slide="next">
							<span class="icon-next"></span>
						</a>
					</div>
				{{pass}}
				<h2 class="brand-before">
					<small>Welcome to</small>
				</h2>
				<h1 class="brand-name">{{=XML(thisPage["subHeading"])}}</font></h1>
				<hr class="tagline-divider">
				<h2>
					<small>{{=XML(thisPage["tagLine"])}}</small>
				</h2>
			</div>
		</div>
	</div>

	{{if cards:}}
        {{include 'default/cards.tpl.html'}}
	{{pass}}

</div>
<!-- /.container -->