{{extend 'layout.html'}}
{{include 'default/menu.html'}}
<div class="container" id="container2">

	<div class="btn-group btn-group-justified" style="margin:15px">
		<a href="{{=URL('default', 'membership')}}" class="btn {{='btn-danger active' if not request.vars.show_form else 'btn-default'}}" role="button">Membership Information</a>
		<a href="{{=URL('default', 'membership', vars=dict(show_form='true'))}}" class="btn {{='btn-danger active' if request.vars.show_form else 'btn-default'}}" role="button">Membership Form</a>
	</div>

	{{if request.vars.show_form:}}

        <div class="row">
            <div class="box">
            
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Membership
                        <strong>Form</strong>
                    </h2>
                    <hr>
                </div>
                
                <div>  
                    <object data="{{=URL('static','PlayersATX_Membership_Application.pdf')}}" type="application/pdf" width="100%" height="800px">
     
                    <p>It appears you don't have a PDF plugin for this browser.
                    No biggie... you can <a href="{{=URL('static','PlayersATX_Membership_Application.pdf')}}">click here to
                    download the PDF file.</a></p>  
                     </object>                                 
                </div>            
            </div>
           
        </div>

    {{else:}}

		{{if cards:}}
        	{{include 'default/cards.tpl.html'}}
		{{pass}}

	{{pass}}

</div>
<!-- /.container -->