{{extend 'layout.html'}}
{{include 'default/menu.html'}}
<div class="container" id="container2">

    <div class="row">
        <div class="box3" style="background: rgba(255,255,255,0.70);margin-bottom:15px;">
            <div class="col-lg-12">
                <hr>
                <h1 class="intro-text text-center"><strong>Rules</strong></h1>                        
                <hr>
            </div>
        </div>
    </div>

	{{if cards:}}
        {{include 'default/cards.tpl.html'}}
	{{pass}}

</div>
<!-- /.container -->