{{extend 'layoutSite.html'}}

<div class="ornge">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2" id="charcoal">
			<h4>Shannon McCarty, Personal Trainer</h4>
			<p>I’ve worked with many different types of clients, from those new to exercise to triathletes.  Qualities that make the coaching relationship with me a great match include:</p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!--  ornge -->


<div class="container w">
	<div class="row centered">
		<br><br>
		<div class="col-lg-3">
			<img class="img-circle" src="{{=URL('static','img/shannon1.jpg')}}" style="max-width:210px;max-height:210px" alt="">
			<h4>Being Open Minded</h4>
			<p>Open minded to try diet and exercise routines outside your comfort zone – meaning you do not already have a “this is the best way to do it” mentality.</p>				
		</div><!-- col-lg-3 -->

		<div class="col-lg-3">
			<img class="img-circle" src="{{=URL('static','img/shannon4.jpg')}}" style="max-width:210px;max-height:210px" alt="">
			<h4>Gym Equipment</h4>
			<p>Having some type of weight training equipment available to you at a gym or at home such as dumbbells and barbells.</p>				
		</div><!-- col-lg-3 -->

		<div class="col-lg-3">
			<img class="img-circle" src="{{=URL('static','img/shannon3c.jpg')}}" style="max-width:210px;max-height:210px" alt="">
			<h4>Willingness to Journal Progress</h4>
			<p>Ability and willingness to report on your food intake and workout progress on a weekly basis.</p>				
		</div><!-- col-lg-3 -->

		<div class="col-lg-3">
			<img class="img-circle" src="{{=URL('static','img/shannon2.jpg')}}" style="max-width:210px;max-height:210px" alt="">
			<h4>Desire to Change</h4>
			<p>Everyone is busy. Everyone has curveballs thrown their way in their lives. Despite that we carry on. Make sure you are ready to incorporate healthy living into your routine despite what life throws at you - I promise this isn’t hard to do once good habits are set.</p>				
		</div><!-- col-lg-3 -->

	</div><!-- row -->
	<br>
	<br>
</div><!-- container w -->


<div class="ornge">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2" id="charcoal">
				<h4>Does this sound like you? </h4>
				<p>Then I’d love to hear from you. If you’re serious about working with me and ready to take the next step towards a balanced and fit life, check out my services offered and fill out the contact form. Because I pride myself on providing the best services to each and every one of my clients, spaces are limited.</p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- ornge -->