{{extend 'layoutSite.html'}}
<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div id="shdow" class="col-lg-8 col-lg-offset-2">
			<h1>Get motivated.  Be accountable.  <b>Flourish.</b></h1>
			<h2>Gimme A month to change the rest of your life.</h2>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- headerwrap -->


<div class="container w">
	<div class="row centered">
		<br><br>
		<div class="col-lg-4">
			<i class="fa fa-child"></i>
			<h4>Passion</h4>
			<p>Passion, purpose, caring and coaching is what Gimme a Month Fitness is all about.  I am dedicated to your success and will work with you tirelessly to achieve your fitness goals whether it be fat-loss, muscle building, sports training, or competition prep.</p>
		</div><!-- col-lg-4 -->

		<div class="col-lg-4">
			<i class="fa fa-heartbeat"></i>
			<h4>Motivation</h4>
			<p>Motivation can be the hardest obstacle when working out and getting fit. You will not find a more motivating program with individual attention than through this program.  My objective as a personal trainer is to inspire people to do things they thought were impossible.</p>
		</div><!-- col-lg-4 -->

		<div class="col-lg-4">
			<i class="fa fa-balance-scale"></i>
			<h4>Program</h4>
			<p>Working with me means having a trainer that will match programs to your personality and inspire you throughout your fitness journey.  My goal is to have my clients enjoy the process, trust the process, and learn to make lifestyle changes that will stay with them forever.</p>
		</div><!-- col-lg-4 -->
	</div><!-- row -->
</div><!-- container -->