{{extend 'layoutSite.html'}}


<div class="ornge">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h4 id="charcoal"><b>Be Healthy</b></h4>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- ornge -->


<!-- PRICING SECTION -->
<div id="drkgry">
	<div class="container">
		<div class="row centered">
			<h4>Excellent Products</h4>
			<br>
        
			<div class="col-sm-6 col-md-6">
                <!-- START PRICING TABLE -->
                <div class="pricing-option">
                    <div class="pricing-top">
                        <span >I highly recommend MuscleEgg!  It is the world's first flavored egg white protein drink! It's a healthy, delicious, and convenient way to get pure protein into your diet. MuscleEgg is ready to drink, but it can also be used in cooking to create your favorite protein packed recipes. Try it for yourself, you'll love it</span> <br> <br>
                        <span class="price"> 
                            <a href="http://www.muscleegg.com/">
                                <img src="{{=URL('static','img/MuscleEgglogo.png')}}" style="max-width:210px;max-height:210px" alt="">                           
                            </a>
                        </span>
                    </div>                                                    
                </div><!-- /pricing-option -->                  
			</div><!-- /col -->

			<div class="col-sm-6 col-md-6">
                <!-- START PRICING TABLE -->
                <div class="pricing-option">
                    <div class="pricing-top">
                        <span> OATMEGA bars! These bars that have a good balance of carb/pro/fat/calories, taste great, and with this coupon are less per bar than any other one you can buy – around a buck a bar! <span style="color: #fcd440">USE CODE Shannon50</span> at GIVEBAR.COM </span><br><br>
                        <span class="price">
                            <a href="http://givebar.com/">
                                <img src="{{=URL('static','img/Oatmega-Logo-2.jpg')}}" style="max-width:210px;max-height:210px" alt="">
                            </a>      
                        </span>                                                                                     
                </div><!-- /pricing-option -->                  
			</div><!-- /col -->
			
		</div><!-- row -->
	</div><!-- container -->
</div><!-- DG -->



<div id="r">
	<div class="ornge">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>Buying the right products that taste great are important.</h4>
					<p> If you know of great products please message me on the contact page</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div>
</div><! -- r wrap -->