{{extend 'layoutSite.html'}}






<div class="ornge">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h4 id="charcoal"><b>Testimonials!</b></h4>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- ornge -->


<!-- PRICING SECTION -->
<div id="drkgry">
	<div class="container">
		<div class="row centered">
			<h4>Email me on the contact page!</h4>		
			<div class="cd-testimonials-wrapper" id="tighter">
				<ul class="cd-testimonials">
					<li>
						<p id="smaller-font">
			                As I was approaching 40, I noticed the more exercise I performed  (running,cycling, Insanity, yoga, etc. 5-6 days/wk) the longer that darn "plateau phase"was sticking around. I even adjusted my diet down and nothing was happening. I was actually slowly gaining weight and losing toned areas. This was not scientifically/physiologically making sense to me at all.  With an education and career in nutrition and a lifetime of physical activity, I recognized I needed help. 
			                <br>It was important for me to find someone who walked the talk, understood the results I was looking to achieve and had been through the process of transforming themselves. Shannon met all of these requirements and many more. Her sense of humor and ability to make it fun and exciting was an unexpected
							bonus. Not only did Shannon's attention to detail in assessing my current state and knack for individualizing my program build my confidence in her abilities, but her focus to actually study the results and make adjustments as needed helped keep me on point. Shannon is not one who claims to have all the answers or hold the one magic formula, but she will research, reach out to her own personal mentors and professionals in the industry to seek the best advice or methods for any questions she does not know. This quality of inquiry and constant questioning holds true to her innovative nature as a thriving trainer who is continually seeking to improve herself, as well as her clients. <br> 
							I have been working with Shannon for the past 14 weeks and never thought I would have learned as much new information in physical fitness, how our body's work and nutrition as I have in this short time. She has helped create a passion within me for this industry while supporting me through a significant body transformation. If you are looking for a supporter, encourager, motivator and partner in this journey, you have found her! 
			                </span>                 
			             </p>
						<div class="cd-author">
							<!-- <img src="img/avatar-1.jpg" alt="Author image">-->
							<ul class="cd-author-info">
								<li class="shdow">- Shannon L</li>
								<!-- <li>CEO, AmberCreative</li> -->
							</ul>
						</div>
					</li>

					<li>
						<p id="smaller-font">Shannon owes me $100. Why you ask? That’s the cost to get all my favorite pants altered. So be ready. I’ve lost 4lbs and 2% body fat – but the best part – I’ve gone down 1-2 pants sizes. And what is a better feeling than getting dressed in the morning and your clothes are too big? You know that is the BEST feeling in the world. <br>
						To give some background, I’ve been working out on and off for years (weight lifting, triathlons, boot camps, etc.) and eating the standard 1200 calories a day. With that, I’ve gone up and down within the same 10 pounds – without ever getting past that plateau. <br>
						When I started Shannon’s program, I had lost my usual 10 pounds … but now I’ve finally broken through the plateau. Shannon’s nutrition and workout program is amazing. At first, I thought she was crazy … eat 1400-1500 calories a day? Workout for only 30-45 minutes? <br>
						The nutrition plan is great. It takes weekly prep – but the food is good and you will never be hungry. The workout is focused on weight lifting and interval training. Instead of spending hours in the gym on a cardio machine, the workouts are quick, but tough, and you’ll be able to see the results. When my 15-year old twins are complimenting my arms, you know it’s working <br>
						I love the program and plan to continue as long as Shannon will have me …. Thanks for everything Shannon!<br>
						P.S. The only part that sucked was that she made me ditch my Bud Light unless it’s a special event … she’s mean.</p>
						<div class="cd-author">
							<ul class="cd-author-info">
								<li>- Michelle W</li>							
							</ul>
						</div>
					</li>

					<li>
						<p id="smaller-font">After 2 years of doggedly going to Boot Camps and peaking disappointedly short of my goals, I lost my motivation to go on. I stopped going altogether to my workouts and came to the conclusion that either I was to old or just didn't have what it took to reach my goals. <br>
						Then, I found Shannon's "plan"! I say plan because it's not just a workout routine, it's nutrition in addition to the workouts. I found the missing pieces to the puzzle. I saw more progress in 6 weeks than I had in the entire 2 years of Boot Camps. I lost 15 lbs of pure fat and went from 22.5% body fat to 16.25% body fat and I'm still going. Added bonus; I don't need blood pressure medication anymore. <br>
						The results gave me my motivation back, that my goals were obtainable. Not only does she give you a plan tailored to your needs but the science behind it, so you can make the right choices to help you succeed in whatever goals you set for yourself. Definitely a life style change, for the BETTER!</p>
						<div class="cd-author">
							<ul class="cd-author-info shadow">
								<li>- Scott D</li>								
							</ul>
						</div>
					</li>
					
				</ul> <!-- cd-testimonials -->

				<a href="#0" class="cd-see-all">See all</a>
			</div> <!-- cd-testimonials-wrapper -->

		</div><!-- row -->
	</div><!-- container -->
</div><!-- DG -->


			<div class="cd-testimonials-all">
				<div class="cd-testimonials-all-wrapper">
					<ul>
						<li class="cd-testimonials-item">
							<p>As I was approaching 40, I noticed the more exercise I performed  (running,cycling, Insanity, yoga, etc. 5-6 days/wk) the longer that darn "plateau phase"was sticking around. I even adjusted my diet down and nothing was happening. I was actually slowly gaining weight and losing toned areas. This was not scientifically/physiologically making sense to me at all.  With an education and career in nutrition and a lifetime of physical activity, I recognized I needed help. 
			                <br>It was important for me to find someone who walked the talk, understood the results I was looking to achieve and had been through the process of transforming themselves. Shannon met all of these requirements and many more. Her sense of humor and ability to make it fun and exciting was an unexpected
							bonus. Not only did Shannon's attention to detail in assessing my current state and knack for individualizing my program build my confidence in her abilities, but her focus to actually study the results and make adjustments as needed helped keep me on point. Shannon is not one who claims to have all the answers or hold the one magic formula, but she will research, reach out to her own personal mentors and professionals in the industry to seek the best advice or methods for any questions she does not know. This quality of inquiry and constant questioning holds true to her innovative nature as a thriving trainer who is continually seeking to improve herself, as well as her clients. <br> 
							I have been working with Shannon for the past 14 weeks and never thought I would have learned as much new information in physical fitness, how our body's work and nutrition as I have in this short time. She has helped create a passion within me for this industry while supporting me through a significant body transformation. If you are looking for a supporter, encourager, motivator and partner in this journey, you have found her! </p>
							
							<div class="cd-author">
								<!--<img src="img/avatar-1.jpg" alt="Author image">-->
								<ul class="cd-author-info">
									<li>- Shannon L</li>
									<!--<li>CEO, CompanyName</li> -->
								</ul>
							</div> <!-- cd-author -->
						</li>

						<li class="cd-testimonials-item">
							<p>Shannon owes me $100. Why you ask? That’s the cost to get all my favorite pants altered. So be ready. I’ve lost 4lbs and 2% body fat – but the best part – I’ve gone down 1-2 pants sizes. And what is a better feeling than getting dressed in the morning and your clothes are too big? You know that is the BEST feeling in the world. <br>
							To give some background, I’ve been working out on and off for years (weight lifting, triathlons, boot camps, etc.) and eating the standard 1200 calories a day. With that, I’ve gone up and down within the same 10 pounds – without ever getting past that plateau. <br>
							When I started Shannon’s program, I had lost my usual 10 pounds … but now I’ve finally broken through the plateau. Shannon’s nutrition and workout program is amazing. At first, I thought she was crazy … eat 1400-1500 calories a day? Workout for only 30-45 minutes? <br>
							The nutrition plan is great. It takes weekly prep – but the food is good and you will never be hungry. The workout is focused on weight lifting and interval training. Instead of spending hours in the gym on a cardio machine, the workouts are quick, but tough, and you’ll be able to see the results. When my 15-year old twins are complimenting my arms, you know it’s working <br>
							I love the program and plan to continue as long as Shannon will have me …. Thanks for everything Shannon!<br>
							P.S. The only part that sucked was that she made me ditch my Bud Light unless it’s a special event … she’s mean.</p>
							
							<div class="cd-author">							
								<ul class="cd-author-info">
									<li>- Michelle W</li>									
								</ul>
							</div> <!-- cd-author -->
						</li>

						<li class="cd-testimonials-item">
							<p>After 2 years of doggedly going to Boot Camps and peaking disappointedly short of my goals, I lost my motivation to go on. I stopped going altogether to my workouts and came to the conclusion that either I was to old or just didn't have what it took to reach my goals. <br>
							Then, I found Shannon's "plan"! I say plan because it's not just a workout routine, it's nutrition in addition to the workouts. I found the missing pieces to the puzzle. I saw more progress in 6 weeks than I had in the entire 2 years of Boot Camps. I lost 15 lbs of pure fat and went from 22.5% body fat to 16.25% body fat and I'm still going. Added bonus; I don't need blood pressure medication anymore. <br>
							The results gave me my motivation back, that my goals were obtainable. Not only does she give you a plan tailored to your needs but the science behind it, so you can make the right choices to help you succeed in whatever goals you set for yourself. Definitely a life style change, for the BETTER!</p>
							
							<div class="cd-author">								
								<ul class="cd-author-info">
									<li>- Scott D</li>									
								</ul>
							</div> <!-- cd-author -->
						</li>						
					</ul>
				</div>	<!-- cd-testimonials-all-wrapper -->
				</div>	<!-- cd-testimonials-all-wrapper -->
		
	

<div id="r">
	<div class="ornge">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>I will do the homework so you can concentrate on your goals.</h4>
					<p></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div>
</div><! -- r wrap -->

	<a href="#0" class="close-btn">Close</a>
</div> <!-- cd-testimonials-all -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->