<div>
    <div class="form-group">
        <label>Member ID:</label>
        <input class="form-control" ng-model="memberRequest.checkID" ng-change="checkIDEntered()">
    </div>
    <div class="form-group">
        <label>Check by last name:</label>
        <div class="input-group">
            <input class="form-control" ng-model="memberRequest.checkLastName">
            <span class="input-group-btn">
                <button class="btn btn-input" ng-disabled="imSaving" ng-click="checkLastNameEntered()">
                    <i class="fa fa-search-plus"></i> Search
                </button>
            </span>
        </div>
    </div>
    <hr ng-if="currentMember && !duplicateMembers">

    <div class="alert alert-warning" ng-if="duplicateMembers">
    	<span>
    		This Member ID has duplicates, verify first and last name
    		<span ng-if="currentMember.member2"> of both parties</span>, or
    		<a ng-click="showDuplicates()">click here to <span ng-if="!dupOpen">view</span><span ng-if="dupOpen">hide</span> a list</a> of the other members with this ID
    	</span>
    </div>

    <div ng-if="currentMember" class="panel" ng-class="{'panel-success': currentMember.status == 'valid', 'panel-warning': currentMember.status == 'expired', 'panel-danger': currentMember.status == 'Revoked'}">
    	<div class="panel-heading">
        	<span class="pull-right">exp: {!currentMember.expiration!}
        		<span ng-if="currentMember.status == 'expired'"> - <strong>{!currentMember.status!}!</strong></span>
        	</span>
        	<button class="btn btn-default btn-sm" ng-click="toggleEditMode(currentMember)" ng-if="!currentMember.editMode"><i class="fa fa-pencil"></i></button>
        	<button class="btn btn-success btn-sm" ng-disabled="!formHasChanged('check')" ng-click="toggleEditMode(currentMember, 'save')" ng-if="currentMember.editMode"><i class="fa fa-floppy-o"></i> Save Changes</button>
        	<button class="btn btn-warning btn-sm" ng-click="toggleEditMode(currentMember, 'cancel')" ng-if="currentMember.editMode"><i class="fa fa-ban"></i> Undo/cancel</button>
        	<label ng-if="!currentMember.editMode">{!currentMember.memberType!} {!currentMember.gender!}</label>
        	<button class="btn btn-default btn-sm" ng-click="checkMemberIn(currentMember)" ng-if="!memberCheckedIn(currentMember) && !currentMember.editMode">Check-in</button>
        	<button class="btn btn-info btn-sm disabled" ng-if="memberCheckedIn(currentMember) && !currentMember.editMode">Member Checked In</button>
            <span ng-if="currentMember.comments && !currentMember.editMode"><strong> {!currentMember.comments.length!} comments</strong></span>
        </div>
    	<div class="panel-body">
            <div class="alert alert-info" ng-if="currentMember.credits">
                <strong>Members has credits</strong>
                <ul>
                    <li ng-repeat="credit in currentMember.credits">
                        {!credit.creditLabel!}
                    </li>
                </ul>
            </div>
    		<div class="row">
            	<div class="col-sm-6 col-md-4 col-lg-3" ng-if="currentMember.member1">
            		<ul ng-if="!currentMember.editMode">
            			<li>First Name: <strong>{!currentMember.member1.fName!}</strong></li>
            			<li>Last Name: <strong>{!currentMember.member1.lName!}</strong></li>
            			<li>Drivers License: <strong>{!currentMember.member1.dl!}</strong></li>
            			<li>DoB: <strong>{!currentMember.member1.dob!}</strong></li>
            			<li>Email: <strong>{!currentMember.member1.email!}</strong></li>
            		</ul>
            		<div ng-if="currentMember.editMode">
			            <div class="form-group">
			                <label>First Name:</label>
			                <input class="form-control" ng-model="currentMember.member1.fName" ng-change="formHasChanged()">
		                </div>
			            <div class="form-group">
			                <label>Last Name:</label>
			                <input class="form-control" ng-model="currentMember.member1.lName" ng-change="formHasChanged()">
		                </div>
			            <div class="form-group">
			                <label>DL or ID number:</label>
			                <input class="form-control" ng-model="currentMember.member1.dl" ng-change="formHasChanged()">
		                </div>
			            <div class="form-group">
			                <label>Date of Birth:</label>
		                    <datepicker date-set="{!currentMember.member1.dob!}" date-format="yyyy-MM-dd">
		                        <input class="form-control" ng-model="currentMember.member1.dob" ng-change="formHasChanged()">
		                    </datepicker>
		                </div>
			            <div class="form-group" style="margin-top:50px">
			                <label>Email:</label>
			                <input class="form-control" ng-model="currentMember.member1.email" type="email" ng-change="formHasChanged()">
		                </div>
		            </div>
            	</div>
            	<div class="col-sm-6 col-md-4 col-lg-3" ng-if="currentMember.member2">
            		<ul ng-if="!currentMember.editMode">
            			<li>First Name: <strong>{!currentMember.member2.fName!}</strong></li>
            			<li>Last Name: <strong>{!currentMember.member2.lName!}</strong></li>
            			<li>Drivers License: <strong>{!currentMember.member2.dl!}</strong></li>
            			<li>DoB: <strong>{!currentMember.member2.dob!}</strong></li>
            			<li>Email: <strong>{!currentMember.member2.email!}</strong></li>
            		</ul>
            		<div ng-if="currentMember.editMode">
			            <div class="form-group">
			                <label>First Name:</label>
			                <input class="form-control" ng-model="currentMember.member2.fName" ng-change="formHasChanged()">
		                </div>
			            <div class="form-group">
			                <label>Last Name:</label>
			                <input class="form-control" ng-model="currentMember.member2.lName" ng-change="formHasChanged()">
		                </div>
			            <div class="form-group">
			                <label>DL or ID number:</label>
			                <input class="form-control" ng-model="currentMember.member2.dl" ng-change="formHasChanged()">
		                </div>
			            <div class="form-group">
			                <label>Date of Birth:</label>
		                    <datepicker date-set="{!currentMember.member2.dob!}" date-format="yyyy-MM-dd">
		                        <input class="form-control" ng-model="currentMember.member2.dob" ng-change="formHasChanged()">
		                    </datepicker>
		                </div>
			            <div class="form-group" style="margin-top:50px">
			                <label>Email:</label>
			                <input class="form-control" ng-model="currentMember.member2.email" type="email" ng-change="formHasChanged()">
		                </div>
		            </div>
            	</div>
            	<div class="col-sm-6 col-md-4 col-lg-3" ng-if="currentMember.address">
            		<ul ng-if="!currentMember.editMode">
            			<li>Address: <strong>{!currentMember.address.address!}</strong></li>
            			<li>City: <strong>{!currentMember.address.city!}</strong></li>
            			<li>State: <strong>{!currentMember.address.state!}</strong></li>
            			<li>Zip: <strong>{!currentMember.address.zip!}</strong></li>
            			<li>Phone: <strong>{!currentMember.address.phone!}</strong></li>
            		</ul>
            		<div ng-if="currentMember.editMode">
			            <div class="form-group">
			                <label>Address:</label>
			                <input class="form-control" ng-model="currentMember.address.address" ng-change="formHasChanged()">
		                </div>
			            <div class="form-group">
			                <label>City:</label>
			                <input class="form-control" ng-model="currentMember.address.city" ng-change="formHasChanged()">
		                </div>
			            <div class="form-group">
			                <label>State:</label>
			                <select class="form-control" ng-options="thisState.abb as thisState.label for thisState in stateInfo" ng-model="currentMember.address.state" ng-change="formHasChanged()"></select>
		                </div>
			            <div class="form-group">
			                <label>Zip/Postal code:</label>
			                <input class="form-control" ng-model="currentMember.address.zip" ng-change="formHasChanged()">
		                </div>
			            <div class="form-group">
			                <label>Phone:</label>
			                <input class="form-control" ng-model="currentMember.address.phone" ng-change="formHasChanged()">
		                </div>
		            </div>
            	</div>
            </div>
        	<div ng-if="currentMember.purchases" style="background:#ddd;padding:10px">
        		<strong>Recent Purchases</strong>
        		<div ng-repeat="purchase in currentMember.purchases | orderBy:'eventDate' " style="background:#fff;margin-top:5px" ng-if="purchase.status">
        			<div class="panel" ng-class="{'panel-info':purchase.status == 'pending','panel-success':purchase.status == 'current','panel-warning':purchase.status == 'expired','panel-default':purchase.status == 'purchased'}" ng-style="{'margin-bottom': $last ? 0 : ''}">
        				<div class="panel-heading">
        					<h3 class="panel-title">{!purchase.event!} - {!purchase.eventDate | date:'EEE, MMM, d'!}</h3>
        				</div>
        				<div class="panel-body">
	            			<span><strong>{!purchase.priceLabel!}</strong></span>
	            			<br>
	            			<span class="text-muted">{!purchase.notes!}</span>
	            			<br>
	            			<span class="text-muted">purchased on {!purchase.completed!}</span>
	            		</div>
	            	</div>
        		</div>
        	</div>
        </div>
        <div class="panel-footer clearfix">
            <button class="pull-right btn btn-sm btn-default" ng-click="showCommentForm(currentMember)"><i class="fa fa-plus-square-o"></i> Add comment</button>
            <h5>Member Comments</h5>
            <hr>
            <div class="form-group clearfix" ng-if="currentMember.showCommentForm">
                <label>Comment:</label>
                <textarea class="form-control" ng-model="newComment.comment" ng-change="commentFormChanged()"></textarea>
                <br>
            </div>
            <div class="checkbox" ng-if="currentMember.showCommentForm && currentMember.status != 'Revoked'">
                <label>
                    <input type="checkbox" ng-model="newComment.revoke"> Revoke Membership
                </label>
            </div>
            <div class="clearfix" ng-if="currentMember.showCommentForm">
                <button class="btn btn-sm btn-success pull-right" ng-disabled="!commentFormChanged('check')" ng-click="saveComment(currentMember)">
                    Save Comment
                </button>
            </div>
            <hr ng-if="currentMember.showCommentForm">
            <div ng-repeat="comment in currentMember.comments | orderBy:'created':true" ng-if="currentMember.comments">
                <div class="clearfix">
                    <textarea disabled style="width:100%">{!comment.comment!}</textarea>
                    <br>
                    <span>Made by {!comment.made_by!}</span>
                    <span class="text-muted">on {!comment.created | date:'medium'!}</span>
                    <hr ng-if="!$last">
                </div>
            </div>


        </div>
    </div>
    
    <div ng-if="duplicateMembers && dupOpen" ng-repeat="thisDup in duplicateMembers" class="panel" ng-class="{'panel-success': thisDup.status == 'valid', 'panel-warning': thisDup.status == 'expired', 'panel-danger': thisDup.status == 'Revoked'}">
    	<div class="panel-heading">
        	<span class="pull-right">exp: {!thisDup.expiration!}
        		<span ng-if="thisDup.status == 'expired'"> - <strong>{!thisDup.status!}!</strong></span>
        	</span>
        	<label><a ng-click="checkIDEntered(thisDup.memberID)">{!thisDup.memberType!} {!thisDup.gender!} {!thisDup.memberID!}</a></label>
        </div>
    	<div class="panel-body">
    		<div class="row">
            	<div class="col-sm-6 col-md-4 col-lg-3" make-it-square ng-if="thisDup.member1">
            		<ul>
            			<li>First Name: <strong>{!thisDup.member1.fName!}</strong></li>
            			<li>Last Name: <strong>{!thisDup.member1.lName!}</strong></li>
            			<li>DoB: <strong>{!thisDup.member1.dob!}</strong></li>
            			<li>Drivers License: <strong>{!thisDup.member1.dl!}</strong></li>
            			<li>Email: <strong>{!thisDup.member1.email!}</strong></li>
            		</ul>
            	</div>
            	<div class="col-sm-6 col-md-4 col-lg-3" make-it-square ng-if="thisDup.member2">
            		<ul>
            			<li>First Name: <strong>{!thisDup.member2.fName!}</strong></li>
            			<li>Last Name: <strong>{!thisDup.member2.lName!}</strong></li>
            			<li>DoB: <strong>{!thisDup.member2.dob!}</strong></li>
            			<li>Drivers License: <strong>{!thisDup.member2.dl!}</strong></li>
            			<li>Email: <strong>{!thisDup.member2.email!}</strong></li>
            		</ul>
            	</div>
            	<div class="col-sm-6 col-md-4 col-lg-3" make-it-square ng-if="thisDup.address">
            		<strong>Address</strong><br>
            		<span>{!thisDup.address.address!}</span><br>
            		<span>{!thisDup.address.city!}</span><br>
            		<span>{!thisDup.address.state!}</span><br>
            		<span>{!thisDup.address.zip!}</span><br>
            		<span>{!thisDup.address.phone!}</span>
            	</div>
            </div>
        </div>
    </div>

    <div ng-if="memberList">
    	<table class="table table-hover">
    		<thead>
        		<tr>
        			<th>
        				First Name
        			</th>
        			<th>
        				Last Name
        			</th>
        			<th>
        				DL #
        			</th>
        			<th>
        				DoB
        			</th>
        			<th>
        				First Name
        			</th>
        			<th>
        				Last Name
        			</th>
        			<th>
        				DL #
        			</th>
        			<th>
        				DoB
        			</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr ng-repeat="thisMember in memberList" ng-click="getMemberKey(thisMember.memberKey)">
        			<td>
        				<span ng-if="thisMember.fname1">{!thisMember.fname1!}</span>
        			</td>
        			<td>
        				<span ng-if="thisMember.lname1">{!thisMember.lname1!}</span>
        			</td>
        			<td>
        				<span ng-if="thisMember.dl1">{!thisMember.dl1!}</span>
        			</td>
        			<td>
        				<span ng-if="thisMember.dob1">{!thisMember.dob1!}</span>
        			</td>
        			<td>
        				<span ng-if="thisMember.fname2">{!thisMember.fname2!}</span>
        			</td>
        			<td>
        				<span ng-if="thisMember.lname2">{!thisMember.lname2!}</span>
        			</td>
        			<td>
        				<span ng-if="thisMember.dl2">{!thisMember.dl2!}</span>
        			</td>
        			<td>
        				<span ng-if="thisMember.dob2">{!thisMember.dob2!}</span>
        			</td>
        		</tr>
        	</tbody>
    	</table>
    </div>
</div>