{{extend 'layout_site.html'}}

<div class="content fullpage homepage">

<!-- banner & block -->
    <div class="col-md-6 col-sm-8  banner height-full  animated fadeInDownBig">
      <div id="BannerCarousel" class="carousel slide  height-full" data-ride="carousel">
       <div class="carousel-inner  height-full">
          <div class="item active  height-full" style="background-image: url('{{=URL('static','images/VBallBlock.jpg')}}');background-postion:center;background-size:cover">
                <div class="carousel-caption carousel-caption1"><h2>Heller Volleyball, Can you dig it!</h2></div>
                <div class="carousel-caption caption-bottom"><h4>Hustle and Heart set us Apart.</h4></div>            
            </div>
          <div class="item  height-full" style="background-image: url('{{=URL('static','images/VballHotGirl.jpg')}}');background-postion:center;background-size:cover">
                <div class="carousel-caption carousel-caption1"><h2>Heller Volleyball, Can you dig it!</h2></div>
                <div class="carousel-caption caption-bottom"><h4>Hustle and Heart set us Apart.</h4></div>            
            </div>
            <div class="item  height-full" style="background-image: url('{{=URL('static','images/VballJump.jpg')}}');background-postion:center;background-size:cover">
                <div class="carousel-caption carousel-caption1"><h2>Heller Volleyball, Can you dig it!</h2></div>
                <div class="carousel-caption caption-bottom"><h4>Hustle and Heart set us Apart.</h4></div>            
            </div>
            <div class="item  height-full" style="background-image: url('{{=URL('static','images/VballOut.jpg')}}');background-postion:center;background-size:cover">
                <div class="carousel-caption carousel-caption1"><h2>Heller Volleyball, Can you dig it!</h2></div>
                <div class="carousel-caption caption-bottom"><h4>Hustle and Heart set us Apart.</h4></div>            
            </div>
            <div class="item  height-full" style="background-image: url('{{=URL('static','images/VballServe.jpg')}}');background-postion:center;background-size:cover">
                <div class="carousel-caption carousel-caption1"><h2>Heller Volleyball, Can you dig it!</h2></div>
                <div class="carousel-caption caption-bottom"><h4>Hustle and Heart set us Apart.</h4></div>                
            </div>
            <div class="item  height-full" style="background-image: url('{{=URL('static','images/VballSet.jpg')}}');background-postion:center;background-size:cover">
                <div class="carousel-caption carousel-caption1"><h2>Heller Volleyball, Can you dig it!</h2></div>
                <div class="carousel-caption caption-bottom"><h4>Hustle and Heart set us Apart.</h4></div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#BannerCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right carousel-control" href="#BannerCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <div class="col-md-6 col-sm-4 height-full">
        <div class="height-full">
            <div class="col-md-6 col-xs-12 height-half animated fadeInUp"><div class="block height-full women "><a href="{{=URL('default','signup')}}"  class="txt"><h3>Register</h3><span>Come Get Served!</span></a></div></div>

            <div class="col-md-6 col-xs-12 height-half animated fadeInDown"><div class="block height-full store"></div></div>

            <div class="col-md-6 col-xs-12 height-half animated fadeInDown">
                <div class="block height-full schedule">
                    <a href="{{=URL('default','schedule')}}"  class="txt"><h3 class="h3x">Schedule</h3> </a>
                    
                        <table class="table table-hover">
                                <thead>
                                    <tr>                                    
                                        <th>Date</th>
                                        <th>Location</th>
                                        <th>Type</th>                                                                                
                                    </tr> 
                                </thead>
                                <tbody>
                                    <tr width: 50%>
                                        <td class="results">6/6/2015 </td>
                                        <td class="results"><a href="schedule.html#event1"  class="txt"> ASC Sand </a></td>
                                        <td class="results">Men's Upper/Lower</td>                                                                    
                                    </tr>
                                    <tr>
                                        <td class="results">6/13/2015 </td>
                                        <td class="results"><a href="schedule.html#event2"  class="txt"> ASC Sand </a></td>
                                        <td class="results">Women's Upper/Lower</td>                                                                
                                    </tr>
                                    <tr>
                                        <td class="results">6/14/2015</td>
                                        <td class="results"><a href="schedule.html#event3"  class="txt"> ASC Sand </a></td>
                                        <td class="results">Battle of the Sexes</td>                                                                    
                                    </tr>
                                    <tr>
                                        <td class="results">6/20/2015</td>
                                        <td class="results"><a href="schedule.html#event4"  class="txt"> Moontower</a></td>
                                        <td class="results">Men's BBB</td>                                                                    
                                    </tr>
                                    <tr>
                                        <td class="results">6/21/2015</td>
                                        <td class="results"><a href="schedule.html#event5"  class="txt"> Moontower</a></td>
                                        <td class="results">Men's BBB & Women's</td>                                                                    
                                    </tr>
                                </tbody>
                        </table> 
                    
                </div>
            </div>

            <div class="col-md-6 col-xs-12 height-half animated fadeInUp"><div class="block height-full couple"><a href="{{=URL('default','results')}}" class="txt"><h3>Results</h3><span></span></a></div></div>            
        </div>
    </div>
   

<!-- banner & block -->



</div>
