{{extend 'layout_site.html'}}

<div class="container">

<div class="row">
    <div class="box">
        <div class="col-lg-8 col-centered">         
            <hr>                                
            <h3 class="intro-text text-center"><strong>All tournaments will use FIVB rules. Any divisions not covered by the FIVB rules will use USAV modifications.</strong></h3>
            <hr>                                                     
            <div class="row">
                <div class="col-lg-8 col-centered">  
                    <div class="col-lg-4">
                        <p>
                            <a href="http://www.fivb.org/EN/Refereeing-Rules/Documents/FIVB-BeachVolleyball_Rules2013-EN_20121216.pdf">
                                FIVB Rules
                            </a>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p>
                            <a href="http://www.fivb.org/EN/BeachVolleyball/Refereeing/2013%20BVB%20Rules%20of%20the%20Game%20Casebook.pdf">
                                FIVB Casebook
                            </a>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p>
                            <a href="http://www.ncva.com/downloads/Referee%20Rule%20Book%20-%20Outdoor.pdf">
                                USAV Rules
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="bottombox">
        <div class="col-lg-8 col-centered">         
            <hr>                                
            <h3 class="text-center">
                <strong>Clarifications</strong>
            </h3> 
            <hr>                                                                           
            <p>
                <strong>Coed</strong>
                <br>There is no courtesy rule. Any player can serve to any player on the opposing team, including on game point.
            </p>                          
            <p>
                <strong>Reverse Coed</strong>
                <br>It is a fault if a male attacks the ball in front of the attack line, completely above the height of the net, and the attack does not have an upward trajectory. Note that this is the only restriction. There is no restriction on serving or blocking.
            </p>   
            <p>
                <strong>Non-Hard Driven Ball Defense</strong>
                <br>At the first hit of a team, the ball can be doubled as long as it is one motion, unless played overhand with the fingers. If played overhand with the fingers, it cannot be doubled or caught.
            </p>  
            <p>
                <strong>Hard Driven Ball Defense</strong>
                <br>At the first hit of the team, the ball can be doubled as long as it is one motion. If played overhand with the fingers, it can be doubled as well as momentarily held or caught. Note that if the ball is played underhand with the fingers, it can be doubled but cannot be momentarily held or caught.
            </p> 
            <p>
                <strong>Serve Receive</strong>
                <br>The serve is never considered hard driven. If it is received overhand with the fingers, it must be clean and cannot be caught. Like any other first hit that is not from a hard driven ball, double contact is allowed as long as it is one motion (hands do not need to be together to receive serve).
            </p>   
            <p>
                <strong>Overhand Setting With Fingers</strong>
                <br>The serve is never considered hard driven. If it is received overhand with the fingers, it must be clean and cannot be caught. Like any other first hit that is not from a hard driven ball, double contact is allowed as long as it is one motion (hands do not need to be together to receive serve).
            </p>
        </div>
    </div>
</div>

  
</div>