{{extend 'layout_site.html'}}
<div class="container register">

  <span class="achorSave" id="event1"> &nbsp; </span>
	<div class="panel panel-default">
    <div class="panel-heading">
      <table class="table borderless">
        <th class="pull-left"><h4>Men's Upper/Lower</h4></th>
        <th class="center">
          <h4><a href="http://maps.google.com/maps?hl=en&amp;um=1&amp;ie=UTF-8&amp;f=d&amp;iwstate1=dir:to&amp;daddr=306%2BBarton%2BSprings%2BRd%2BAustin,%2BTX%2B78704&amp;fb=1&amp;geocode=5447858427608913353,30.258795,-97.747836&amp;oi=manybox&amp;ct=16&amp;cd=1&amp;resnum=1">ASC Sand</a>
          </h4> 
        </th>
        <th class="pull-right"><h4>6/6/2015</h4> </th>
      </table>
     </div>    
     <table class="table table-striped">
        <th>Team Name</th><th>Player 1</th><th>Player 2 </th>
        <tr><td>City Slickers</td><td>Michael</td><td>Paige</td></tr>
        <tr><td>Country Stars</td><td>Cade Moore</td><td>Mesha Moore</td></tr>
        <tr><td>Ball Team</td><td>Ball pro</td><td>Pro Ball</td></tr>
        <tr><td>Parent Rock</td><td>Hot Mamma</td><td>Hot Daddy</td></tr>
        <tr><td>Dog Spikers</td><td>Spike Em</td><td>Digger Dog</td></tr>
        <tr><td>Sandy Fun</td><td>Sand Man</td><td>Sandles Off</td></tr>
        <tr><td>High Scorers</td><td>High Jump</td><td>Score high</td></tr>
        <tr><td>Who knew</td><td>Some Dude</td><td>Out Bounds</td></tr>
     </table>
  </div>
  <span class="achorSave" id="event2"> &nbsp; </span>
	<div class="panel panel-default">
    <div class="panel-heading">
      <table class="table borderless">
        <th class="pull-left"><h4>Women's Upper/Lower</h4></th>
        <th class="center">
          <h4><a href="http://maps.google.com/maps?hl=en&amp;um=1&amp;ie=UTF-8&amp;f=d&amp;iwstate1=dir:to&amp;daddr=306%2BBarton%2BSprings%2BRd%2BAustin,%2BTX%2B78704&amp;fb=1&amp;geocode=5447858427608913353,30.258795,-97.747836&amp;oi=manybox&amp;ct=16&amp;cd=1&amp;resnum=1">ASC Sand</a>
          </h4> 
        </th>
        <th class="pull-right"><h4>6/13/2015</h4> </th>
      </table>
     </div>    
     <table class="table table-striped">
        <tr><th>Team Name</th><th>Player 1</th><th>Player 2 </th></tr>
        <tr><td>City Slickers</td><td>Michael</td><td>Paige</td></tr>
        <tr><td>Country Stars</td><td>Cade Moore</td><td>Mesha Moore</td></tr>
        <tr><td>Ball Team</td><td>Ball pro</td><td>Pro Ball</td></tr>
        <tr><td>Parent Rock</td><td>Hot Mamma</td><td>Hot Daddy</td></tr>
        <tr><td>Dog Spikers</td><td>Spike Em</td><td>Digger Dog</td></tr>
        <tr><td>Sandy Fun</td><td>Sand Man</td><td>Sandles Off</td></tr>
        <tr><td>High Scorers</td><td>High Jump</td><td>Score high</td></tr>
        <tr><td>Who knew</td><td>Some Dude</td><td>Out Bounds</td></tr>
     </table>
  </div>
  <span class="achorSave" id="event3"> &nbsp; </span>
	<div class="panel panel-default">
    <div class="panel-heading">
      <table class="table borderless">
        <th class="pull-left"><h4>Battle of the Sexes</h4></th>
        <th class="center">
          <h4><a href="http://maps.google.com/maps?hl=en&amp;um=1&amp;ie=UTF-8&amp;f=d&amp;iwstate1=dir:to&amp;daddr=306%2BBarton%2BSprings%2BRd%2BAustin,%2BTX%2B78704&amp;fb=1&amp;geocode=5447858427608913353,30.258795,-97.747836&amp;oi=manybox&amp;ct=16&amp;cd=1&amp;resnum=1">ASC Sand</a>
          </h4> 
        </th>
        <th class="pull-right"><h4>6/14/2015</h4> </th>
      </table>
     </div>    
     <table class="table table-striped">
        <th>Team Name</th><th>Player 1</th><th>Player 2 </th>
        <tr><td>City Slickers</td><td>Michael</td><td>Paige</td></tr>
        <tr><td>Country Stars</td><td>Cade Moore</td><td>Mesha Moore</td></tr>
        <tr><td>Ball Team</td><td>Ball pro</td><td>Pro Ball</td></tr>
        <tr><td>Parent Rock</td><td>Hot Mamma</td><td>Hot Daddy</td></tr>
        <tr><td>Dog Spikers</td><td>Spike Em</td><td>Digger Dog</td></tr>
        <tr><td>Sandy Fun</td><td>Sand Man</td><td>Sandles Off</td></tr>
        <tr><td>High Scorers</td><td>High Jump</td><td>Score high</td></tr>
        <tr><td>Who knew</td><td>Some Dude</td><td>Out Bounds</td></tr>
     </table>
  </div>
  <span class="achorSave" id="event4"> &nbsp; </span>
	<div class="panel panel-default">
    <div class="panel-heading">
      <table class="table borderless">
        <th class="pull-left"><h4>Men's BBB</h4></th>
        <th class="center">
          <h4><a href="http://maps.google.com/maps?hl=en&amp;um=1&amp;ie=UTF-8&amp;f=d&amp;iwstate1=dir:to&amp;daddr=306%2BBarton%2BSprings%2BRd%2BAustin,%2BTX%2B78704&amp;fb=1&amp;geocode=5447858427608913353,30.258795,-97.747836&amp;oi=manybox&amp;ct=16&amp;cd=1&amp;resnum=1">Moontower</a>
          </h4> 
        </th>
        <th class="pull-right"><h4>6/20/2015</h4> </th>
      </table>
     </div>    
     <table class="table table-striped">
        <th>Team Name</th><th>Player 1</th><th>Player 2 </th>
        <tr><td>City Slickers</td><td>Michael</td><td>Paige</td></tr>
        <tr><td>Country Stars</td><td>Cade Moore</td><td>Mesha Moore</td></tr>
        <tr><td>Ball Team</td><td>Ball pro</td><td>Pro Ball</td></tr>
        <tr><td>Parent Rock</td><td>Hot Mamma</td><td>Hot Daddy</td></tr>
        <tr><td>Dog Spikers</td><td>Spike Em</td><td>Digger Dog</td></tr>
        <tr><td>Sandy Fun</td><td>Sand Man</td><td>Sandles Off</td></tr>
        <tr><td>High Scorers</td><td>High Jump</td><td>Score high</td></tr>
        <tr><td>Who knew</td><td>Some Dude</td><td>Out Bounds</td></tr>
     </table>
  </div>
	<span class="achorSave" id="event5"> &nbsp; </span>
		<div class="panel panel-default">
    <div class="panel-heading">
      <table class="table borderless">
        <th class="pull-left"><h4>Men's & Women's BBB</h4></th>
        <th class="center">
          <h4><a href="http://maps.google.com/maps?hl=en&amp;um=1&amp;ie=UTF-8&amp;f=d&amp;iwstate1=dir:to&amp;daddr=306%2BBarton%2BSprings%2BRd%2BAustin,%2BTX%2B78704&amp;fb=1&amp;geocode=5447858427608913353,30.258795,-97.747836&amp;oi=manybox&amp;ct=16&amp;cd=1&amp;resnum=1">Moontower</a>
          </h4> 
        </th>
        <th class="pull-right"><h4>6/21/2015</h4> </th>
      </table>
     </div>    
     <table class="table table-striped">
        <th>Team Name</th><th>Player 1</th><th>Player 2 </th>
        <tr><td>City Slickers</td><td>Michael</td><td>Paige</td></tr>
        <tr><td>Country Stars</td><td>Cade Moore</td><td>Mesha Moore</td></tr>
        <tr><td>Ball Team</td><td>Ball pro</td><td>Pro Ball</td></tr>
        <tr><td>Parent Rock</td><td>Hot Mamma</td><td>Hot Daddy</td></tr>
        <tr><td>Dog Spikers</td><td>Spike Em</td><td>Digger Dog</td></tr>
        <tr><td>Sandy Fun</td><td>Sand Man</td><td>Sandles Off</td></tr>
        <tr><td>High Scorers</td><td>High Jump</td><td>Score high</td></tr>
        <tr><td>Who knew</td><td>Some Dude</td><td>Out Bounds</td></tr>
     </table>
  </div>
</div>



                                        <td class="results">6/20/2015</td>
                                        <td class="results"><a href="schedule.html#event4"  class="txt"> Moontower</a></td>
                                        <td class="results">Men's BBB</td>                                                                    
                                    </tr>
                                    <tr>
                                        <td class="results">6/21/2015</td>
                                        <td class="results"><a href="schedule.html#event5"  class="txt"> Moontower</a></td>
                                        <td class="results">Men's BBB & Women's</td> 